---
layout: default
title: Hakkımda
permalink: /about/
---
<h1>Merhaba, notlarımı ve hayatımı paylaştığım sayfama hoşgeldin...</h1>

<p>
	İsmim Melih Küçük.
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut molestias sequi, minima perspiciatis provident expedita
	eos, vero, atque repudiandae harum corrupti ducimus quo voluptas neque cupiditate tenetur impedit. Quos, reiciendis!
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem temporibus blanditiis consectetur voluptates,
	dolore aliquid aspernatur possimus. Dicta, rem unde reiciendis dolor vel incidunt maxime neque exercitationem
	voluptates odio impedit.</p>

<p>
	You can also follow me on social media: <br>
	{% for item in site.data.settings.menu %}
		{% for subitem in item.submenu %}
			<a href="{{subitem.link}}">
				{% if subitem.icon %}
				<i class="fa fa-inverse fa-{{subitem.icon}} fa-2x"></i>
				{% endif %}
				{{subitem.name}}
			</a>
		{% endfor %}
	{% endfor %}
</p>