--- 
layout: default 
title: Melih Küçük
---

<div class="row">
	{% for post in paginator.posts %} 

		{% include blog-col-box.html %}

	{% endfor %}
</div>


<!-- Pagination links -->
<div style="padding: 2vh;">
{% if paginator.previous_page %}
	<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" >
	Previous
	</a>
{% else %}
	<span>Önceki</span>
{% endif %}
| <span class="page_number ">
	Sayfa: {{ paginator.page }} - {{ paginator.total_pages }}
</span> | 
{% if paginator.next_page %}
	<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" >Sonraki</a>
{% else %}
	<span >Sonraki</span>
{% endif %}
</div>
	  
