<!--<div class="col-12 col-md-6 blog-col">
    {% for tag in post.tags %}
    <a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    <a href="{{ post.url }}">
        <h4 class="list-group-item-heading">{{ post.title }}</h4>
        <h6 class="list-group-item-heading">{{ post.published | date: '%B %d,
                %Y' }} | (Last Update : {{ post.date | date: '%B %d, %Y' }})</h6>
        <img alt="{{ post.title }}" src="{{ post.image }}" class="img-responsive">
        <p>{{ post.excerpt | strip_html}}</p>
    </a>
    <a href="{{ post.url }}">Read more...</a>
</div>-->
<div class="col-12 col-md-6 blog-col">
    <div class="card">
        {% for tag in post.tags %}
        <a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
        <img alt="{{ post.title }}" src="{{ site.baseurl }}{{ post.image }}" class="img-responsive">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <h6 class="card-text">{{ post.date | date: "%d/%m/%Y" | truncatewords:20)</h6>
            <p>{{ post.excerpt | strip_html}}</p>
            <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Devamını oku</a>
        </div>
    </div>
</div>