html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 8em;
	padding-top: 4.5em;
	counter-reset: h1counter;
	
}

h1 {
	counter-reset: h2counter;
}

h2 {
	counter-reset: h3counter;
}

h2:before {
	content: counter(h2counter) ".\0000a0\0000a0";
	counter-increment: h2counter;
}

h3:before {
	content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
	counter-increment: h3counter;
}

.container {
	font-size: 1.3em;
}

.jumbotron {
	background-image: url("https://melihkucuk.github.io/melih-kucuk/assets/images/bg.gif");
	background-attachment: fixed;
}

.jumbotron h1 {
	background: rgba(170, 170, 170, 0.36);
	margin: 15vh;
	padding: 15vh;
	border-radius: 10px;
	color: white;
	letter-spacing: 0.2em;
	font-size: 3em;
	text-align: center;
	letter-spacing: 0.2em;
}

.footer {
	position: absolute;
	padding-right: 1em;
	padding-top: 1.5em;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 8em;
	background-color: black;
	bottom: 0;
}

.footer-links {
	margin: 0 0 0 0em;
	padding: 0;
	float: right;
	text-align: right;
}

.footer-links>li {
	padding-right: 1em;
	display: inline-block;
}

.navbar-default {
	background-color: black;
	border-color: #12421f;
	font-size: 1.3em;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: black;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: #12421f;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-toggle {
	border-color: #12421f;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #12421f;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #12421f;
	}
}

a:hover, a:focus {
    color: #252525;
    text-decoration: auto;
}

.img-fluid {
    max-width: 100%;
}

.navbar-brand-title{
	color: white;

}

.navbar-nav {
	float: right !important;
}

.label-default {
    background-color: #424141 !important;
}

.blog-col{
	transform: scale(0.9);
}

.blog-card{
	width: 100%;
	border: 2px solid rgb(221, 221, 221);
	border-radius: 10px;
	padding: 1vh;	
}
.blog-card .post-img{
	max-height: 30vh;
	margin: auto;
	border-radius: 10px;
	padding: 2vh;
}

.footer{
	display: flex !important;
}

.footer-links{
	margin-left: auto;
}

.footer-text{
	color: white;
	margin-left: 4vh;
}

@media( max-width:991px){
	.navbar-nav {
		float: left !important;
	}
	.jumbotron h1 {
		margin: 6vh;
		padding: 8vh;
		font-size: 2em;
	}
}

.bg-space{
	max-height: 10vh;
}

