<!doctype html>
<html lang="en">
{% include head.html %}

<body>
	{% include header.html %}
	<div class="container">

		{% if page.id %}
		<p>
			{% for tag in page.tags %}
			<a class="label label-default" href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
			{% endfor %}
		</p>
		{%if page.github %}
		<p>
			<a href="{{ page.github }}" class="btn btn-default">
				<i class="fa fa-github fa-2x"></i> {{ page.github }}
			</a>
		</p>
		{% endif %}
		<hr>
		{% endif %}

		{{ content }}


		{% include disqus.html %}
	</div>
	{% include footer.html %}
	{% include analytics.html %}
</body>

</html>